<div class="section-profil">
  <div class="user-info">
    <div class="user-profil-image">
      <img src="./assets/user-image/exemples-de-photos-de-profil-cv-linkedin-corporate-reussies.jpeg" alt="Profil utilisateur">
    </div>
    <div class="user-profil-info">
      <div>
        <a> Mes Photos (3)</a>
      </div>
      <hr>
      <div class="edit-profil">
        <a> Modifier mon profil </a>
        <i class="fa-solid fa-pen"></i>
      </div>
      <hr>
    </div>
    <div class="user-profil-info-poste">
      <mat-card>
        <div class="edit-profil">
          <p>Compositeur et chercheur sociologue</p>
          <i class="fa-solid fa-pen"></i>
        </div>
      </mat-card>
    </div>
    <div class="user-profil-info-poste">
      <mat-card>
        <div class="edit-profil">
          <p>Information</p>
          <i class="fa-solid fa-pen"></i>
        </div>
      </mat-card>
      <div class="edit-profil-birthDay">
        <span  style="color: #898F9C">
          Date de naissance
        </span>

        <p>15 mai 1867</p>
      </div>
    </div>
  </div>
</div>
