<div class="section-profil">
  <div class="user-info">
    <p class="user-name">
      {{user.lastName}} {{user.firstName}}
    </p>
    <div class="user-profil-image">
      <img [src]="user.imgProfil" alt="Profil utilisateur">
    </div>
    <div class="user-profil-info">
      <hr>
      <div class="edit-profil">
        <a> Modifier mon profil </a>
        <i class="fa-solid fa-pen"></i>
      </div>
      <hr>
    </div>
    <div class="user-profil-info-poste">
      <mat-card>
        <div class="edit-profil">
          <p>Compositeur et chercheur sociologue</p>
        </div>
      </mat-card>
    </div>
    <div class="user-profil-info-poste">
      <mat-card>
        <div class="edit-profil">
          <p>Évènement</p>
          <i class="fa-solid fa-pen"></i>
        </div>
      </mat-card>
      <div class="edit-profil-birthDay">
        <span  style="color: #898F9C">
          Date de naissance
        </span>

        <p>15 mai 1867</p>
      </div>
    </div>
  </div>
</div>
