<div class="login-container">
  <div [formGroup]="addressForm" class="login-form">
    <div style="width: 300px; height: 100px; margin: 0 auto;">
      <img  alt="Logo" style="width: 100%; height: auto; margin-top: -40%;" src="../../../assets/icon-left-font-monochrome-black.png">
    </div>
    <div>
      <label>Mail</label>
      <input formControlName="email">
    </div>
    <div>
      <label>Mot de passe</label>
      <input formControlName="motPass">
    </div>
   <div style="display: flex; justify-content: end; margin-top: 5%">
    <span>
      Vous avez pas de compte? /
    </span>
    <a href="inscription">Inscription</a>
   </div>
    <div style="display: flex; justify-content: center; margin-top: 10%;">
      <button mat-stroked-button class="login-button "  (click)="login()">Connexion</button>
    </div>
  </div>
</div>
