
  .post-card {
    padding-top: 2%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 12px;
  }

  .post-header-image {
    background-size: cover;
  }
  textarea {
    border: none;
    outline: none;
  }
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
  }

